@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  color-scheme: dark; /* Using the default dark mode. */
}

* {
  scroll-behavior: smooth; /* Scrolling towards a target element is smooth and progressive. */
}

@layer base {
  body {
    @apply bg-n-9 text-n-1 text-base;
    font-family: var(--font-sora);
  }
}

@layer components {
  .font-sora {
    font-family: var(--font-sora);
  }
}

a.button:hover {
  @apply no-underline;
}

a:hover {
  @apply underline text-p-3 animate;
}